---
const { title, details, colorFrom, colorTo, color, colorText, importantIndex, icon} = Astro.props;
---

<div class={`bg-gradient-to-br from-${colorFrom} to-${colorTo} p-6 rounded-xl shadow-md`}>
    <div
        class={`w-12 h-12 bg-[${color}] rounded-lg flex items-center justify-center mb-4`}
    >
        <svg
            class="w-6 h-6 text-white"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d={`${icon}`}></path>
        </svg>
    </div>
    <h3 class={`text-lg font-bold text-[${color}] mb-3`}>{title}</h3>
    <ul class={`text-${colorText} text-sm space-y-1 list-disc list-inside`}>
        {details.map((detalle: string, indice : number) => <li class={"list-disc "+(indice == importantIndex?`font-bold text-[${color}] `:"font-normal")}> {detalle}</li>)}
    </ul>
</div>
